{% if false && page.copyright != false %}
<div style="margin-top:2em;padding:1.5em 1.5em;border:1px solid #d3d3d3;">
  <h3>Informations sur le document</h3>
  <ul>
    <li>Auteur : <a href="{{ site.url }}" target="_blank">{{ site.author }}</a></li>
    <li>Lien : <a href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a></li>
    <li>Déclaration de droits d'auteur : Reproduction libre - Non commerciale - Pas de modification - Attribution (licence <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">Creative Commons 3.0</a>)</li>
  </ul>
</div>
{% endif %}
